In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/house-prices-advanced-regression-techniques/sample_submission.csv
/kaggle/input/house-prices-advanced-regression-techniques/data_description.txt
/kaggle/input/house-prices-advanced-regression-techniques/train.csv
/kaggle/input/house-prices-advanced-regression-techniques/test.csv

In [2]:
from sklearn.linear_model import LinearRegression

test=pd.read_csv("/kaggle/input/house-prices-advanced-regression-techniques/test.csv")
train=pd.read_csv("/kaggle/input/house-prices-advanced-regression-techniques/train.csv")
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
feature = ["OverallQual", "OverallCond","LotArea"]
x_train = train[feature]
x_test = test[feature]
y_train = train["SalePrice"]

In [4]:
predmodel = LinearRegression()
predmodel.fit(x_train, y_train)
prediction = predmodel.predict(x_test)

In [5]:
sub = test[["Id"]]
sub

        Id
0     1461
1     1462
2     1463
3     1464
4     1465
...    ...
1454  2915
1455  2916
1456  2917
1457  2918
1458  2919

[1459 rows x 1 columns]

In [6]:
sub["SalePrice"] = prediction

/tmp/ipykernel_17/168372680.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub["SalePrice"] = prediction

In [7]:
sub

        Id      SalePrice
0     1461  133647.749141
1     1462  181780.778269
2     1463  137273.675624
3     1464  175560.460324
4     1465  257365.808295
...    ...            ...
1454  2915   74879.514762
1455  2916   75665.949822
1456  2917  145374.652168
1457  2918  132358.623743
1458  2919  219772.077491

[1459 rows x 2 columns]

In [8]:
sub.to_csv("submission.csv", index = None)

In [9]:
pd.read_csv("submission.csv")

        Id      SalePrice
0     1461  133647.749141
1     1462  181780.778269
2     1463  137273.675624
3     1464  175560.460324
4     1465  257365.808295
...    ...            ...
1454  2915   74879.514762
1455  2916   75665.949822
1456  2917  145374.652168
1457  2918  132358.623743
1458  2919  219772.077491

[1459 rows x 2 columns]